GITHUB_USERNAME="your-github-username"
GITHUB_API_TOKEN="your-github-personal-access-token"

#####
# only required if REPO_SOURCE = forgejo
FORGEJO_BASE_URL="git.example.com"
FORGEJO_USERNAME="your-forgejo-username"
FORGEJO_API_TOKEN="your-forgejo-access-token"
#####

REPO_SOURCE="github"

DISCORD_USER_ID="discord-id"
DISCORD_GUILD_ID="guild-id"
DISCORD_BOT_TOKEN="discord-bot-token"

EXPRESS_PORT=8782
NODE_ENV="development"